<div class="main-container">

    <p-panel header="DAILY INVOICE SUMMARIES" class="panel">

        @if(prepared_invoices && prepared_invoices.length > 0){
        <div class="items-center justify-center container">
            <label>Cash Sales Invoices</label>
            <p-divider></p-divider>
            @for ( invoice of prepared_invoices; track $index) {

            <span class="font-bold mb-1 flex text-lg mr-4 storename">
                <p-avatar class="mr-2" size="xlarge" shape="circle" image="assets/logo/oboadie.jpeg" shape="circle"
                    size="large">

                </p-avatar>
                <label class="mr-2 name"> {{ invoice.customername }}-{{ invoice.invoice_number }} </label>

                <p-button icon="pi pi-eye" label="Show" class="w-50" styleClass="w-full" variant="text" raised="false"
                    severity="warn" (onClick)="showInvoice(invoice)" />
            </span>
            <section>

                <p-badge class="font-bold mb-1  mr-1"
                    value="Verified: {{invoice.isinvoice_verified ? 'YES':'NO'}}"></p-badge>

                <p-badge class="font-bold mb-1 mr-4"
                    value="Submitted: {{invoice.invoice_submitted ? 'YES':'NO'}}"></p-badge>
                <p-badge class="font-bold mb-1 mr-4"
                    value="Submitted: {{invoice.is_payment_complete ? 'YES':'NO'}}"></p-badge>
            </section>

            }
        </div>
        }@else {
        <p-message severity="info">{{ message }}</p-message>
        }

        @if(prepared_credit_invoice && prepared_credit_invoice.length > 0){
        <div class="items-center justify-center container">
            <label class="credit">Credit Sales Invoices</label>
            <p-divider></p-divider>
            @for ( invoice of prepared_credit_invoice; track $index) {
            <span class="font-bold mb-1 flex text-lg mr-4 storename">
                <p-avatar class="mr-2" size="xlarge" shape="circle" image="assets/logo/oboadie.jpeg" shape="circle"
                    size="large">

                </p-avatar>
                <label class="mr-2 name"> {{ invoice.customername }}-{{ invoice.invoice_number }} </label>

                <p-button icon="pi pi-eye" label="Show" class="w-50" styleClass="w-full" variant="text" raised="false"
                    severity="warn" (onClick)="showInvoice(invoice)" />
            </span>
            <section>

                <p-badge class="font-bold mb-1 mr-4" value="Verified: {{invoice.isinvoice_verified? 'YES':'NO'}}">

                </p-badge>

                <p-badge class="font-bold mb-1 mr-4"
                    value="Submitted: {{invoice.invoice_submitted? 'YES':'NO'}}"></p-badge>
                <p-badge class="font-bold mb-1  mr-4"
                    value="Submitted: {{invoice.is_payment_complete ? 'YES':'NO'}}"></p-badge>
            </section>
            }

        </div>

        }@else {
        <p-message severity="info">{{ message }}</p-message>
        }
    </p-panel>

    <p-panel header="Daily Transaction" class="panel">
        <div class="sales-quotes">
            <p-table #dt2 [value]="SalesData" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                [loading]="loading()" [paginator]="true" [globalFilterFields]="['serialnumber','name', 'title']"
                stripedRows>

                <ng-template #caption>

                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </p-iconfield>
        </ng-template>

        <ng-template #header>
            <tr>
                <th>serial</th>
                   <th>Invoice Number</th>
                <th>Product Number</th>
                <th>Type/brand</th>
                <th>Store Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Date</th>
                <th>Processed</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template #body let-SalesData let-product let-i="rowIndex">
            <tr>
                <td [style]="{ width: '5rem' }">{{ i + 1 }}</td>
                <td>{{SalesData.invoice_number}}</td>
                <td>{{ SalesData.name }}</td>
                <td>{{ SalesData.title }}</td>
                <td>{{ SalesData.storename}}</td>
                <td>{{ SalesData.quantity_sold }}</td>
                <td>{{ SalesData.unit_price | currency: 'Ghø' }}</td>
                <td>{{ SalesData.total_price | currency: 'Ghø' }}</td>
                <td>{{ SalesData.dateposted | date: 'yyyy-MM-dd' }}</td>
                <td>
                    <p-badge class="font-bold  mr-2"
                        value="V: {{SalesData.store_verified ? 'YES':'NO'}}"></p-badge>
                    <p-badge class="font-bold  mr-2"
                        value="Sub: {{SalesData.invoice_submitted ? 'YES':'NO'}}"></p-badge>
                    <p-badge class="font-bold mr-2"
                        value="Paid: {{SalesData.isinvoice_paid ? 'YES':'NO'}}"></p-badge>

                </td>
                <td>
                    <p-button icon="pi pi-eye" class="w-50" styleClass="w-full" variant="text" raised="false"
                        severity="warn" (onClick)="showInvoice(SalesData)" />
                </td>

 
            </tr>
        </ng-template>
        </p-table>
</div>

</p-panel>
</div>