.sales-quotes,.sales-display{
    max-width: calc(100% - 0%);
    min-width:calc(100% - 50%);
    width: calc(100% - 0%);;

}
.sales-display{
 box-shadow: 0px 0px 10px 1px lightgray;
 border: 1px solid lightgray;
    overflow: hidden;
    width: 55rem;

}
 .header{

    padding: 10px ;
    text-align: center;
    header,span{
        display: block;
        width: 100%;
            font-size: clamp(1em,1.5em,1.9em);
                text-align: center;
    }
 }
img{
    width: 50px;
    height: 50px;
    aspect-ratio: .5;
}
.head{
    padding: 10px;
    font-size: clamp(1em,1.5em,1.9em);
    background-color: rgb(4, 29, 102);
    color: whitesmoke;
}
.customer{
    padding: 5px;
    // border-radius: .3em;
    // box-shadow: 0px 0px 10px 1px lightgray;
    margin-left: 10px ;
        max-width: calc(100% - 10%);
    min-width:calc(100% - 60%);
    width: calc(100% - 0%);
     span{
        margin: 0px;
        padding: 0px;
        
    }
    span:first-child{
        width: calc(100% - 70%);
        color: rgb(0, 19, 12);
    }

}
.w{
    width: calc(100% - 60%);
}
.truncate-text {
  width:5rem; /* Or any width */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.total{
    div{
        padding: 10px;
          font-size: clamp(1.5em,1.8em,2.5em);
          border-radius: .3em;
            border: 1px solid lightgray;
    }
    div:first-child{
        width: 30%;
    }
    
}
.tb{
     border: 1px solid lightgray;
    overflow: hidden;
    width: 100%;
    margin: 10px;
}
.btn-submit{
    width: 55rem;
text-align: right;
padding: 5px;

}
.print-footer{
    display: flex;
    align-items: end;
    margin: 0px;
    padding: 10px;
    background-color: rgb(62, 63, 63);
    
}
.header-i{

       padding: 10px;
          font-size: clamp(1.5em,1.8em,2.5em);
          border-radius: .3em;
            border: 1px solid lightgray;
            color: white;
            font-weight: bold;
}


.header-segement{
    margin: 0px auto;
    border: 1px dotted lightgray;
    border-radius: .3em;
    width: 98%;
      padding: 10px;
}
.receipt-info{
 padding: 10px;
 padding: 10px ;
 display: flex;
 flex: 1;
 header{
   text-align: center;
      width: 100%;
 }

  .head-info{
    text-align: center;
    width: 100%;
        padding: 0px;
        margin: 0px auto;
        display: block;
 }
}
.section{
    width: calc(100rem - 20rem);
}
.signature{
    display: block;
    flex-direction: column;
    align-items: center;
    label{
        display: block;
        width: 100%;
        text-align: center;
        line-height: 1.6;
    }
}
@media print {
  /* Hide elements you don't want on the paper (like navbars or buttons) */
  .no-print {
    display: none !important;
  }

  /* Style your print container */
  .tb{
    width: 100%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #000;
    background: red;

  }

  /* Force background colors and images to print */
  .highlight-box {
    background-color: #f4f4f4 !important;
    -webkit-print-color-adjust: exact; /* For Chrome/Safari */
    print-color-adjust: exact;         /* Standard */
  }
}