main {
    margin-top: 100px;
}

.new-cart-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 5%;
    z-index: 25;
    left: 0;
    right: 0;
    bottom: 0;
}

.crt-inner {
    position: relative;
    margin: 20px auto;
    width: 60%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-radius: .3em;
    box-shadow: 0px 0px 5px 1px rgb(128, 126, 126);

    header {
        padding: 10px;
        border-bottom: 1px solid lightgrey;
        margin-bottom: 10px;
        font-size: 1.5vw;
        span{
            display: block;
            width: calc(100% - 10%);
        }
        ::ng-deep{
            .p-button{
                background-color: transparent !important;
                border: 0px !important;
                outline:  0px !important;
                color: rgb(52, 53, 53);
            }
        }
    }

    section {
        margin: 10px auto;
        // background-color: red;
        padding: 20px;
        width: calc(100% - 50%);
        box-shadow: 0px 0px 10px 2px lightgray;

        ::ng-deep {
            .p-floatlabel {

                flex: 1;

                ::ng-deep {
                    textarea {
                        width: 100%;

                    }
                }
            }

            .p-iconfield {
                padding: 0px;

                ::ng-deep {
                    input {
                        width: 100%;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: 1.5vw;

                    }
                }
            }
        }

        .preview {
                width: calc(100% - 40%);
        }
    }
}
.table-img{
max-width: calc(100% - 90%);
}
.iconwrapper {
    position: fixed;
    border-radius: .3em;
    box-shadow: 0px 0px 10px 2px lightgray;
    border: 1px solid whitesmoke;
    padding: 5px;
    overflow: hidden;
 background-color: rgba(0, 0, 0, 0.7);
    #controlsImge {

    position: relative;
    margin: 0px auto;
    border-radius: .3em;
    box-shadow: 0px 0px 10px 2px lightgray;
    border: 1px solid whitesmoke;
    width: calc(100% - 1%);
    padding: 5px;
    overflow: hidden;
    opacity: .9;

    
}
}

:host ::ng-deep {
    .dock-window {
        width: calc(100% - 90%);
        height: 12vh;
        position: absolute;

        background-image: url('https://primefaces.org/cdn/primeng/images/dock/window.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }

       .dock-window1 {
        width: calc(100% - 90%);
        height: 10vh;
        border-radius: 15em;
        color: goldenrod;
        position: absolute;
        top: 46%;
        left: 24%;
         background-image: url('https://primefaces.org/cdn/primeng/images/dock/window.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
         background-color: rgba(114, 113, 113, 0.7);
    }
    .p-dock {
        z-index: 1000;
    }
}





#imageInner {
    display: flex;
}

#pasportImage {
    display: none;
}

#loadImage {
    font-size: 2vw;
    overflow: hidden;
    width: auto;
    height: auto;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    padding: 0px;
}

.enter-animation {
    animation: slide-fade 1s;
}

@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}