.custom-card {
    background:  #1e293b;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.1);
    // border: 1px solid #e2e8f0;
}

/* Removes the default harsh border/background of PrimeNG toolbar to let the card shine */
::ng-deep .custom-toolbar .p-toolbar {
        background:  #1e293b;
    border: none !important;
    padding: 0 !important;
}

.toolbar-title {
    margin: 0;
    font-size: 1.25rem;
    color: #fcfdff;
    font-weight: 600;
}