
<div class="container">
    <div class="buss-header">
        <img id="srclogo" src="assets/logo/oboadie.jpeg" alt="">
        <header>
            <span>OBOADIE NYAME ADOM ENTERPRISE</span>
        <span>Home of Quality Hardware with affordable prices</span>
        </header>
    </div>
   
    <p-toolbar>
    <ng-template #start>
    <p-button (click)="visible1 = true" icon="pi pi-chevron-down" label="Categories" (onClick)="cartegories()" />
        <p-button type="button" icon="pi pi-user" (onClick)="toggle($event)" styleClass="min-w-48" />
    <p-splitbutton label="Help"  dropdownIcon="pi pi-question" [model]="items" />
    </ng-template>
    </p-toolbar>
</div>

<p-drawer header="CATEGORIES" [(visible)]="visible1" position="left" severity="info">
<p-divider />
    @if(productcart){
        <ul>
            @for (cat of productcart; track $index) {
            <li (click)="showSelectedCart(cat.serialnumber)">
                <section class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border">
                    @if(cat.imageurl){
                         <img [src]="cat.imageurl" [alt]="cat.category_name" class="w-24 rounded table-img" />
                    }@else{
                    <img  src="assets/logo/hbt.PNG" alt="">
                    }
                    <span>{{cat.category_name}}</span>
                </section>
            </li>
        }
        </ul>
    }@else{  
    <p>
      {{message}}
    </p>
}
</p-drawer>

<div>
    
</div>
<p-popover #op>
    <div class="flex flex-col gap-4">
        <div>
            <span class="font-medium block mb-2">Account</span>
              <hr>
            <ul class="list-none p-0 m-0 ">
                <!-- flex flex-col -->
                <li  class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border" (click)="signup()">
                    <i class="pi pi-sign-out" style="font-size: 1rem"></i>
                    <!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image" style="width: 32px" /> -->
                    <div>
                        <span class="font-medium">Signup</span>
                    </div>
                </li>
                 <li  class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border" (click)="Login()">
                    <i class="pi pi-sign-in" style="font-size: 1rem"></i>
                    <!-- <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image" style="width: 32px" /> -->
                    <div>
                        <span class="font-medium">Login</span>
                        
                    </div>
                </li>
            </ul>
        </div>
    </div>
</p-popover>

@if(products){
 <div class="card product-display">
            <p-dataview #dv [value]="products" [layout]="'grid'">
            
                <ng-template #grid let-items>
                    <div class="grid grid-cols-12 gap-4 " >
                        <div *ngFor="let product of items" class="col-span-12 sm:col-span-6 md:col-span-4 xl:col-span-6 p-2 ">
                            <div class="p-6 border border-surface-200 dark:border-surface-700 bg-surface-0 dark:bg-surface-900 rounded data-style">
                                <div class="bg-surface-50  justify-center rounded p-4">
                                    <div class="relative mx-auto">
                                         <img class="block xl:block mx-auto rounded w-full" [src]="product.imageurl"  style="max-width: 300px"/>
                                        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product)" class="absolute dark:!bg-surface-900" [style.left.px]="4" [style.top.px]="4" />
                                    </div>
                                </div>
                                <div class="pt-6">
                                    <div class="flex flex-row justify-between products-start gap-2">
                                        <div>
                                            <span class="font-medium text-surface-500 dark:text-surface-400 text-sm">{{ product.category_name }}</span>
                                            <div class="text-lg font-medium mt-1">
                                            <span>{{ product.name }}</span> 
                                            <span>{{ product.title }}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex flex-col gap-6 mt-6">
                                        <span class="text-2xl font-semibold">{{ product.unitesellingprice | currency: 'GHS' }}</span>
                                        <div class="flex gap-2">
                                            <button pButton icon="pi pi-shopping-cart" label="Buy Now" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'" class="flex-auto whitespace-nowrap"></button>
                                            <button pButton icon="pi pi-heart" outlined></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template> 
            </p-dataview>
        </div>
    }
<!-- <div class="footer">
    <h1>Data</h1>
</div> -->





<!-- @if(products){ -->

    <!-- <div class="card carousel-trends">
        <h3>New Arrivals</h3>
        <p-carousel [value]="products" [numVisible]="4" [numScroll]="1" [circular]="true"
            [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
            <ng-template let-product #item>
                <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4 caro-data">
                    <div class="mb-4 img-container">
                        <div class="relative mx-auto">
                            <img [src]="product.imageurl" [alt]="product.name" class="w-24 rounded table-img" [alt]="product.name" class="w-full rounded-border"/>
           
                            <p-tag [value]="product.inventorystatus" [severity]="getSeverity(product.inventorystatus)"
                                class="absolute dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-4 font-medium">{{ product.name }}</div>
                    <div class="flex justify-between items-center">
                        <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
                        <span>
                            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div> -->
<!-- }@else {
    <ng-template>
        <p>No </p>
    </ng-template>
} -->
<!-- @if(productTrend){
<div class="card carousel-trends-static">
        <h3>TRENDING</h3>
        <p-carousel [value]="productTrend" [numVisible]="4" [numScroll]="1" [circular]="false"
            [responsiveOptions]="responsiveOptions" >
            <ng-template let-productTrend #item>
                <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4 caro-data">
                    <div class="mb-4 img-container">
                        <div class="relative mx-auto">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ productTrend.image }}"
                                [alt]="productTrend.name" class="w-full rounded-border" />
                            <p-tag [value]="productTrend.inventorystatus" [severity]="getSeverity(productTrend.inventorystatus)"
                                class="absolute dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-4 font-medium">{{ productTrend.name }}</div>
                    <div class="flex justify-between items-center">
                        <div class="mt-0 font-semibold text-xl">{{ '$' + productTrend.price }}</div>
                        <span>
                            <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                            <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
                        </span>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>
}
   -->
