.table-style {

    width: calc(98%);
    margin: 0px auto;
    margin-top: 1vh;
    border-radius: .5em;
    overflow: hidden;

    header {
        font-size: clamp(1.0vw, 1.5vw, 2.0vw);
        text-align: left;
        padding-top: 10px;
        margin: 0px;
        color: rgb(253, 249, 251);
        font-family: 'Tahoma';
        // background-color: rgb(4, 51, 122);
        padding: 10px;
    }

}

:host ::ng-deep {
    .wearhouse {
        width: 1em;
        /* Adjust size as needed */
        height: 1rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/wearhouse.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        /* Required for the background to show */
    }

    .manager {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/man.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        /* Required for the background to show */
    }

    .access {
        width: 1em;
        /* Adjust size as needed */
        height: 1rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/access.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        /* Required for the background to show */
    }

    .wh-man {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/warehousemanager.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .stock {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/stock.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .withdraw {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/withdraw.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .transfer {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/transfer.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .returnstock {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/return.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .product {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/products.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

    .product_transparent {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/products_transparent.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }



    .datatransfer {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/datatransfer.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }


    .operationcontrol {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/operationcontrol.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }
    .warehousetransfer {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/warehousetransfer.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

     .stores {
        width: 2em;
        /* Adjust size as needed */
        height: 2rem;
        /* Adjust size as needed */
        background-image: url("/assets/icons/stores.png");
        background-size: contain;
        /* Ensure the image fits within the bounds */
        display: inline-block;
        background-repeat: no-repeat;
        /* Required for the background to show */
    }

}
.controle-data{
    width: 25rem;
}
.details {
    width: 100%;
    font-size: clamp(.5em, .8em, 1em);
}

textarea {
    width: 100%;
    font-size: clamp(.5em, .8em, 1em);
}

.card-wrapper {
    max-width: 15rem;
    min-width: 10rem;

    .btn-pops {
        ::ng-deep {
            .p-button {
                width: auto;
                border-radius: 0 !important;
                margin: 1px;
                display: block;
                text-align: left;
                width: 100%;
            }
        }
    }
}

::ng-deep {

    .p-drawer {
        max-width: calc(100% - 0%);
        width: calc(100%);
        top: 9vh;
    }
}

.edit-panel {
    position: absolute;
    bottom: 10vh;
    right: 0;
    box-shadow: 0px 0px 15px 2px lightgray;
}


.enter-animation {
    animation: slide-fade 1s;
}

.new-warehouse {

    position: absolute;
    bottom: 1vh;
    left: calc(100% - 80%);
    right: calc(100% - 80%);
    padding: 0px !important;
    box-shadow: 0px 0px 15px 2px lightgray;
    background-color: mintcream;
    border-radius: .5em;

    .header {
        padding: 10px;
        background-color: rgb(3, 47, 83);
        color: whitesmoke;
        width: 100%;
        display: block;

    }

    :host ::ng-deep {
        .p-panel {

            width: 80%;
        }
    }
}

.w-h {
    width: calc(100% - 80%);
}

textarea {
    padding: 10px;
    font-size: clamp(1em, 1.5em, 1.8em);
    border: 1px solid lightgreen;
}

.ware-h-header {
    font-size: clamp(1em, 1.5em, 1.8em);
    color: rgb(1, 32, 88);
    padding: 10px;
    width: 30%;
    font-weight: bold;
}

.st-nw-stl {
    font-size: clamp(1em, 1.5em, 1.8em);
    color: rgb(1, 32, 88);
    padding: 10px;
    width: 50%;
}

.btn-controls {
    max-width: calc(100% - 25%)
}

.lbl-style {
    font-size: clamp(.5em, 1em, 1.2em);
    color: rgb(1, 32, 88);
    padding: 10px;
    width: 50%;
}

img {
    width: clamp(2em, 3em, 5em);
}
.req-header{
    width: 50%;
     font-size: clamp(.5em, 1em, 1.2em);
     border: 1px solid rgb(1, 32, 88);;
         color: rgb(1, 32, 88);
         margin: 0;
         label:first-child{
            padding: 10px;
            border-right: 1px solid rgb(1, 32, 88);
         }
}
@keyframes slide-fade {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}